<!-- MatSort Header Row -->
<div matSort (matSortChange)="sortChange($event)" class="sort-header">
  <button mat-sort-header="title" class="sortButton">Title</button>
  <button mat-sort-header="severity" class="sortButton">Severity</button>
  <button mat-sort-header="type" class="sortButton">Type</button>
</div>

<div class="card-column">
  <ng-container *ngIf="issues$ | async as issues; else loading">
    <app-issue-card
      *ngFor="let issue of issues"
      [issue]="issue"
      [actions]="this.actions"
      [isActionPerformAllowed]="isActionPerformAllowed"
      [shouldEnablePendingActionSpinner]="shouldEnablePendingActionSpinner"
      [deleteOrRestoreIssue]="deleteOrRestoreIssue"
      [shouldEnableMarkAsResponded]="shouldEnableMarkAsResponded"
      [shouldEnableEditIssue]="shouldEnableEditIssue"
      [shouldEnableRespondToIssue]="shouldEnableRespondToIssue"
      [shouldEnablePendingButton]="shouldEnablePendingButton"
      [logIssueRespondRouting]="logIssueRespondRouting"
      [viewIssueInBrowser]="viewIssueInBrowser"
      (actionButtonClicked)="onActionButtonClick($event.action, $event.issueId, $event.event)"
    ></app-issue-card>
  </ng-container>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>

<mat-paginator
  [paginatorLocalStorage]="this.table_name"
  [pageSize]="this.tableSettings.pageSize"
  [pageSizeOptions]="[10, 20, 50]"
  [pageIndex]="this.tableSettings.pageIndex"
  (page)="this.pageChange($event)"
></mat-paginator>
