<mat-form-field style="width: 100%">
  <mat-select placeholder="Template" (selectionChange)="setSelectedTemplate($event.value.name)" disableOptionCentering>
    <mat-select-trigger>
      {{ initialValue }}
    </mat-select-trigger>
    <div mat-menu-item class="labelLine" *ngFor="let value of templateList">
      <mat-option [value]="value.labelValue" [ngStyle]="{ background: 'transparent' }">
        <span>{{ value.name }}</span>
      </mat-option>
    </div>
  </mat-select>
</mat-form-field>
