<div *ngIf="isIssueTemplateLoading" class="centralize">
  <mat-spinner [diameter]="47"></mat-spinner>
</div>

<div *ngIf="!isIssueTemplateLoading">
  <app-issue-template-title [issueTemplate]="issueTemplate" (issueTemplateUpdated)="updateIssueTemplate($event)"></app-issue-template-title>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="column left">
      <!-- Tester's Post -->
      <app-issue-template-description
        [isEditing]="isIssueTemplateDescriptionEditing"
        (changeEditState)="updateDescriptionEditState($event)"
        *ngIf="this.isComponentVisible(issueTemplateComponentsEnum.TESTER_POST)"
        [issueTemplate]="issueTemplate"
        descriptionTitle="Description of Issue Template"
        (issueTemplateUpdated)="updateIssueTemplate($event)"
      >
      </app-issue-template-description>
    </div>
    <div class="column right">
      <div>
        <!-- Severity Label -->
        <app-issue-template-label
          *ngIf="this.isComponentVisible(issueTemplateComponentsEnum.SEVERITY_LABEL)"
          [issueTemplate]="issueTemplate"
          attributeName="severity"
          (issueTemplateUpdated)="updateIssueTemplate($event)"
        ></app-issue-template-label>

        <!-- Bug Type Label -->
        <div *ngIf="this.isComponentVisible(issueTemplateComponentsEnum.TYPE_LABEL)">
          <mat-divider></mat-divider>
          <app-issue-template-label
            [issueTemplate]="issueTemplate"
            attributeName="type"
            (issueTemplateUpdated)="updateIssueTemplate($event)"
          ></app-issue-template-label>
        </div>
      </div>
    </div>
  </div>
</div>
