<h3 class="mat-title">{{ descriptionTitle }}</h3>
<form [formGroup]="issueTemplateDescriptionForm" #myForm="ngForm" (ngSubmit)="updateDescription(myForm)">
  <div class="timeline-comment">
    <div class="timeline-header">
      <span>
        <strong> Tester </strong> created template <strong>{{ issueTemplate.name }}</strong
        >.
      </span>
      <button
        style="float: right"
        mat-button
        *ngIf="permissions.isTemplateDescriptionEditable() && !isEditing"
        (click)="changeToEditMode()"
      >
        Edit
      </button>
    </div>
    <div *ngIf="!isEditing" class="comment">
      <markdown [data]="issueTemplate.description" disableInternalLink></markdown>
    </div>
    <div *ngIf="isEditing">
      <app-comment-editor
        [id]="'description'"
        [commentField]="this.issueTemplateDescriptionForm.get('description')"
        [commentForm]="this.issueTemplateDescriptionForm"
        [(isFormPending)]="this.isSavePending"
        [(submitButtonText)]="this.submitButtonText"
      >
      </app-comment-editor>
      <div class="editor-actions">
        <button
          class="editor-action"
          *ngIf="conflict"
          type="button"
          [disabled]="isSavePending"
          mat-raised-button
          color="primary"
          (click)="viewChanges()"
        >
          View Updated Description
        </button>
        <button
          class="editor-action"
          type="button"
          [disabled]="isSavePending"
          mat-stroked-button
          color="warn"
          (click)="openCancelDialogIfModified()"
        >
          Cancel
        </button>
        <button
          class="editor-action"
          *ngIf="conflict"
          type="submit"
          [disabled]="issueTemplateDescriptionForm.invalid || isSavePending"
          mat-raised-button
          color="warn"
        >
          {{ submitButtonText }}
        </button>
        <button
          class="editor-action additional-editor-style"
          *ngIf="!conflict"
          type="submit"
          [disabled]="issueTemplateDescriptionForm.invalid || isSavePending"
          mat-stroked-button
          color="primary"
        >
          <mat-button-content>
            {{ submitButtonText }}
            <ng-container #loadingSpinnerContainer></ng-container>
          </mat-button-content>
        </button>
      </div>
    </div>
  </div>
</form>
